 body {
     background-color: #1f3c88;
     padding: 0;
     margin: 0;

 }


 @media (min-width: 800px) {
     main {
         font-size: 22px;
     }

     header {
         background: linear-gradient(#070D59, #070D59, #1f3c88);
         font-size: 25px;
         height: 200px;
     }

     h1 {
         float: right;
         padding-top: 30px;
     }

     nav {
         padding-top: 50px;
     }

     footer {
         background: linear-gradient( #1f3c88, #070D59, #070D59);
         font-size: 25px;
         padding: 50px 25px;
     }

     .logo {
         width: 200px;
     }
     .arrow {
     height: 50px;
 }

    
 }

 @media (max-width: 800px) {
     header {
         height: 100px;
         font-size: 17px;
         background: linear-gradient(#070D59, #070D59, #1f3c88);
         align-content: center;
     }

     nav {
         margin-bottom: 15px;
     }

     footer {
         height: 50px;
         font-size: 15px;
         background: linear-gradient( #1f3c88, #070D59, #070D59);
         padding: 30px 15px;
     }

     h1 {
         font-size: 22px;
         margin-top: 20px;
     }

     .brand {
         height: 100px;
     }

     .arrow {
        height: 25px;
     }

 }

 header {
     display: flex;
     align-content: center;
     justify-content: space-evenly;


 }



 nav ul li {
     list-style: none;
     display: inline-block;
 }

 nav ul li a {
     text-decoration: none;
     color: blue;
     padding: 0 75px;
 }

 #contact_us {
      background: linear-gradient(to right, #F7b633, #F7b633, rgb(175, 230, 255), #F7b633, #F7b633);
     background-size: 200%;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: animate-gradient 10s linear infinite
 }

 @keyframes animate-gradient {
     to {
         background-position: 200%;
     }
 }
 

 main {
     position: relative;
     top: 0;

     height: auto;
     max-width: 1200px;
     padding: 10%;

 }




 footer {
     position: relative;
     bottom: 0;
     display: flex;
     align-content: center;
     justify-content: space-between;
 }

 .rights {
     display: inline;
 }

 .up {
     display: inline;

 }

 h1 {
     background: linear-gradient(to right, #F7b633, #5893D4, #F7b633);
     background-size: 200%;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: animate-gradient 5s linear infinite
 }

 @keyframes animate-gradient {
     to {
         background-position: 200%;
     }
 }

 h2 {
     margin-bottom: 10%;
     display: inline;
     background-color: #F7b633;
     border: 2px solid;
     border-radius: 10px 10px;
     padding: 7px 12px;
     margin: 30px;
 }

 h3 {
     display: inline;
 }

 

 .first {
     padding-bottom: 50px;
     padding-top: 25px;
 }

 .rights {
     color: #5893D4;
 }

form{
    background-color: #F7b633;
    border: 3px solid;
    border-radius: 3%;
    height: 100vh;
    padding: 2%;
    margin-top: 40px;
}

.form_name, .form_email, .form_number{
    background-color: #F7b633;   
    width: 50%;
    height: 30px;
    padding: 1%;
    border: 3px solid;
    margin: 1% 1%;
    border-radius: 10px;
    padding: 10px 3%;

}

.box{
    background-color: rgb(0, 0, 0, .00000000000001);
    border: none;
    width: 82%;
    text-align: start;
    font-size: 20px;
}

.box1{
    background-color: rgb(0, 0, 0, .00000000000001);
    border: none;
    width: 72%;
    text-align: start;
    font-size: 20px;
}

.mbox{
    background-color: rgb(0, 0, 0, .00000000000001);
    border: none;
    width: 99%;
    
    text-align: start;
    font-size: 20px;
    border: 3px solid;
    border-radius: 10px;
}

.sbox{
    background-color: rgb(0, 0, 0, .00000000000001);
    border: 2px solid;
    border-radius: 10px;
}
 
