 body 
        {
    background-color: #F7b633;
    padding: 0;
    margin: 0;
    
}


@media (max-width: 1500px) {
    header {
        background-color: #070D59;    
        font-size: 25px;
    }
    footer {
        background-color: #070D59;    
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    header {
        height: 100px;
        font-size: 15px;
    }
    footer {
        height: 100px;
        font-size: 15px;
    }
    main {
        align-content: center;
    }
    img {
        height: 100px;
    }
    .image1 {
        width: 150px;
        height: 100px;
    }
    .image2 {
        width: 150px;
        height: 100px;
    }
    h1 {
        font-size: 22px;
        margin-top: 0px;
    }

}

header{
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 50px auto;
    
}


nav{
    align-content: center;
    
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: blue;
    padding: 0 75px;
}

main{
    position: relative;
    top: 0;
    
    height: auto;
    max-width: 1200px;
    padding: 10%;
    
}




footer{
    position: relative;
    bottom: 0;
    display: flex;
    align-content: center;
    padding: 50px 25px;
    justify-content: space-between;
}

.rights{
    display: inline;
}

.up{
    display: inline;
    
}
    


h1{
  float: right; 
  padding-top: 30px; 
}

h2{
    margin-bottom: 10%;
    display: inline;
    background-color: #5893D4;
    border: 2px solid;
    border-radius: 10px 10px;
    padding: 7px 12px;
}

h3{
    display: inline;
}

.image1{
    float: left;
    margin: 15px;
    width: 400px;
    height: 220px;
    border: 2px solid;
}

.image2{
    float: right;
    margin: 10px 15px;
    width: 400px;
    height: 220px;
    border: 2px solid;

}

.first{
    padding-bottom: 50px;
    padding-top: 25px;
}
